.fp-toot-status {
    background: white;
    margin: 0 -1px 10px -1px;
    padding: 10px;
    border: solid 1px #dddddd;
    border-radius: 5px;
    font-size: 14px;
    position: relative;
}

.fp-item {
    background: white;
    margin: 0 -1px 10px -1px;
    padding: 10px;
    border: solid 1px #dddddd;
    border-radius: 5px;
    font-size: 14px;
    position: relative;
    min-height: 50px;
}

.fp-boosted {
    margin-left: 60px;
    color: gray;
    padding-bottom: 1em;
}

.fp-item-body {
    margin-left: 60px;
    position: relative;
    min-height: 50px;
}

.fp-item .fp-avatar {
    margin-right: 1em;
    vertical-align: top;
}

.fp-item .fp-display {
    font-weight: bold;
}

.fp-item .fp-account {
    color: gray;
}

.fp-item .fp-meta {
    color: gray;
}

.fp-item .fp-content {
}

.fp-item .fp-content p:last-child {
    margin-bottom: 0;
}

.fp-avatar-block {
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: -60px;
    z-index: 1;
}

.fp-avatar-block img {
    width: 50px;
    height: 50px;
}

.fp-avatar-block .fp-original-avatar {
    position:absolute;
    top:0;
    left:0;
    z-index:0
}
.fp-avatar-block .fp-original-avatar img {
    width: 33px;
    height: 33px;
}

.fp-avatar-block .fp-reblog-avatar {
    position: absolute;
    top: 25px;
    left: 25px;
    z-index:1;
}
.fp-avatar-block .fp-reblog-avatar img {
    width: 25px;
    height: 25px;
}